.MuiTable-root {
  width: 38% !important;
  margin: 0 auto;
}
.MuiButton-root {
  padding: 12px 90px !important;
}
.wallet-adapter-button {
  line-height: 20px;
  white-space: nowrap;
  padding: 0 80px !important;
}

@media only screen and (max-width: 610px) {
  .MuiTable-root {
    margin: 0 auto;
  }
  .MuiTableRow-root {
    display: flex !important;
    flex-direction: column;
  }
  .MuiTableCell-root {
    padding: 16px 0px !important;
    margin: 0 auto;
    border: 0;
  }
  th:first-child,
  td:first-child {
    margin: 0 auto;
    text-align: center;
    display: flex;
    padding: 0;
    justify-content: space-between;
    border: 0;
  }
  th:last-child,
  td:last-child {
    border: 0;
  }
}
